main {
  padding: 20px;
  width: 300px;
}

.modal-title {
  margin-top: 0;
}

.settings-item-title {
  margin-top: 20px;
}

#app-id-input,
#promotion-interval-input {
  width: 80%;
}

#app-id-saved-message,
#promotion-interval-saved-message {
  display: none;
  color: #0ad9ec;
  margin-left: 20px;

  &.__success {
    display: inline-block;
  }
}
