.promotone-card {
  position: relative;
  border-top: 1px solid #e3e7e8;
  display: flex;
  background-color: white;
  padding: 18px 18px 30px 18px;
}

.promotone-card-user-icon {
  width: 48px;
  height: 48px;
  margin-right: 14px;

  background: url(../icons/user.png) no-repeat;
  background-position: center;
  background-size: contain;
}

.promotone-card-user-name {
  font-size: 16px;
  color: #888;
  margin-bottom: 4px;
}

.promotone-card-like {
  margin-top: 16px;
}

.promotone-card-like,
#promotone-card-like-button {
  font-size: 14px;
  color: #777777;

  &:hover {
    color: #2c2c2c;
  }
}

.promotone-card-like-count-text::before {
  margin-right: 4px;
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 1.3em;
  height: 1.3em;
  background: url(../icons/like-gray.png) no-repeat;
  background-position: center;
  background-size: contain;
}

.promotone-card-like__liked {
  &,
  #promotone-card-like-button {
    color: #3498db;

    &:hover {
      color: #2c2c2c;
    }
  }
}

.promotone-card-footer {
  margin-bottom: 6px;
}

#promotone-card-like-button {
  background-color: white;
  border: none;
}

.promotone-card-not-displayed {
  .promotone-card-not-displayed-button {
    padding-bottom: 3px;
    color: #888;
    font-size: 0.75rem;
    background-color: white;
    border: none;
    &:hover {
      color: #2c2c2c;
    }
  }
  &::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 1.3em;
    height: 1.3em;
    background: url(../icons/invisible.png) no-repeat;
    background-position: center;
    background-size: contain;
  }
  position: absolute;
  top: 18px;
  right: 18px;
}

.promotone-card-message {
  margin: 0 0 10px 68px;
  font-size: 0.75rem;
  color: #888;
  position: absolute;
  left: 10px;
  bottom: 0;
  &::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 1.3em;
    height: 1.3em;
    background: url(../icons/promo.png) no-repeat;
    background-position: center;
    background-size: contain;
  }
}
